absl-py==0.9.0
appdirs==1.4.3
appnope==0.1.0
asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.1
black==19.10b0
bleach==3.1.1
blis==0.4.1
Bottleneck==1.2.1
branca==0.3.1
cachetools==4.0.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cryptography==2.8
cycler==0.10.0
cymem==2.0.2
Cython==0.29.14
decorator==4.4.0
defusedxml==0.6.0
Django==3.0
django-address==0.2.1
django-crispy-forms==1.8.1
entrypoints==0.3
fastai==1.0.58
fastprogress==0.1.21
folium==0.10.1
future==0.18.2
fvcore==0.1.dev200204
google-auth==1.11.0
google-auth-oauthlib==0.4.1
grpcio==1.26.0
idna==2.8
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
json5==0.8.5
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.4.5
notebook==6.0.3
numexpr==2.7.0
numpy==1.17.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencv-python==4.1.1.26
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pathspec==0.7.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.2
plac==0.9.6
portalocker==1.5.2
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0
pycparser==2.19
pydot==1.4.1
Pygments==2.4.2
pylint==2.4.4
pynvx==1.0.0
pyOpenSSL==19.1.0
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.0
regex==2020.1.8
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scipy==1.3.1
Send2Trash==1.5.0
sentencepiece==0.1.85
six==1.12.0
soupsieve==1.9.4
spacy==2.2.1
sqlparse==0.3.0
srsly==0.1.0
tabulate==0.8.6
tensorboard==2.1.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.1.1
toml==0.10.0
torch==1.3.0
torchvision==0.4.1
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.6
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wrapt==1.11.2
yacs==0.1.6
zipp==0.6.0
